{% extends "admin_index.html" %}
{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Manager Details </h1>
      <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

{#{{ Man_Detail }}#}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="row col-sm-12">
            <div class="col-sm-12 col-md-6 ">
              <a href="#" class="btn btn-success mb-2" data-toggle="modal" data-target="#AddModal"><i class="fa fa-plus-square" aria-hidden="true"></i> Add New Manager</a>
            </div>
            <div class="col-sm-12 col-md-6 ">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">All managers</a>
                <a class="dropdown-item" href="#">Active managers</a>
                <a class="dropdown-item" href="#">Inactive managers</a>
              </div>
            </div>
          </div>



            <!--Add Manager Modal -->
            <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle">Add New Manager</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="modal-body">

                  <form autocomplete="off" method="POST" action="{{ url_for('admin.addmanager') }}">

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">First Name</label>
                            <input type="text" name="firstname" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Middle Name</label>
                            <input type="text" name="middlename" class="form-control" id="inputPassword4">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Last Name</label>
                            <input type="text" name="lastname" class="form-control" id="inputPassword4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="text" name="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="text" name="password" class="form-control" id="inputPassword4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Gender</label>
                            <select id="inputState" name="gender" class="form-control">
                                <option selected>Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">DOB</label>
                            <input type="date" name="dob" class="form-control" id="inputPassword4">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Contact No.</label>
                            <input type="text" name="contactno" class="form-control" name="contactno" id="inputPassword4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address Line 1</label>
                        <input type="text" name="adl1" class="form-control" id="inputAddress">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address line 2</label>
                        <input type="text" name="adl2"  class="form-control" id="inputAddress2">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputCity">Area</label>
                            <input type="text" name="area" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputCity">City</label>
                            <input type="text" name="city" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputState">State</label>
                            <input type="text" id="inputState" name="state" class="form-control">
                        </div>

                            <div class="form-group col-md-3">
                                <label for="inputCity">Country</label>
                                <input type="text" id="inputcountry" name="country" class="form-control">
                            </div>

                        <div class="form-group col-md-4">
                            <label for="inputZip">Pincode</label>
                            <input type="text" name="pincode" class="form-control" id="inputZip">
                        </div>
                        <div class="form-group col-md-4">
                                <label for="inputEmail4">Joining Date</label>
                                <input type="date" name="joiningdate" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="branchID">Branch ID</label>
                             <select name="brch_id" class="custom-select">
                                <option value="" selected>Open this select menu</option>
                                {% for data in branch %}
                                <option value="{{ data['BID'] }}">{{ data['branch_name'] }}</option>
                                {% endfor %}
                             </select>
                        </div>

                    </div>


                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       <button type="submit" name="insert" class="btn btn-primary">Save</button>
                     </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

                      <!-- END ADD MANAGER MODAL -->


                <div class="col-12 table-responsive" >

                   <table class="col-12 table table-striped" >
                     <thead class="thead-dark">
                       <tr>
                         <th scope="col">Name</th>
                         <th scope="col">Branch Name</th>
                         <th scope="col">Email</th>
                         <th scope="col">Contact no.</th>
                         <th scope="col">Gender</th>
                         <th scope="col">D.O.B</th>
                         <th scope="col">Address</th>
                         <th scope="col">Joined on</th>
                         <th scope="col">Left on</th>
                         <th scope="col">Status</th>
                       </tr>
                     </thead>

                       <tbody>
                       {% for x in Man_Detail %}
                         <tr>
                          <td class="text-nowrap">{{ x['fullname'] }}</td>
                          <td>{{ x['branch_name'] }}</td>
                          <td>{{ x['email'] }}</td>
                          <td>{{ x['contact_no'] }}</td>
                          <td>{{ x['gender'] }}</td>
                          <td class="text-nowrap">{{ x['dob'] }}</td>
                          <td>{{ x['address'] }}</td>
                          <td class="text-nowrap">{{ x['joining_date'] }}</td>
                          <td class="text-nowrap">{{ x['leaving_date'] }}</td>
                          <td><button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#"> <i class="fas fa-edit"></i>Active</button></td>
                         </tr>
                       {% endfor %}
                       </tbody>

                   </table>
                </div>

              <div class="col-md  ">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
              </div>

          </div>
        </div> <!-- end card-body-->
      </div> <!-- end card-->
    </div> <!-- end col -->
</div> <!-- end row -->

</div> <!-- end container fluid -->


{% endblock %}