{% extends "admin_index.html" %}
{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Members Details </h1>
      <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>
{#{{ MemDetail }}#}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-12 col-md-12 ">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select &nbsp</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">All members</a>
                <a class="dropdown-item" href="#">Active members</a>
                <a class="dropdown-item" href="#">Inactive members</a>
              </div>
            </div>
                &nbsp
            </div>

                <div class="col-12 table-responsive" >

                   <table class="col-12 table table-striped" >
                     <thead class="thead-dark">
                       <tr>
                         <th scope="col">Name</th>
                         <th scope="col">Email</th>
                         <th scope="col">Contact no.</th>
                         <th scope="col">Gender</th>
                         <th scope="col">D.O.B</th>
                         <th scope="col">Address</th>
                         <th scope="col">Joining date</th>
                         <th scope="col">Membership ID</th>
                         <th scope="col">Membership Desc.</th>
                         <th scope="col">Duration</th>
                         <th scope="col">Payment history</th>
                       </tr>
                     </thead>

                       <tbody>
                       {% for x in MemDetail %}
                         <tr>
                          <td>{{ x['fullname'] }}</td>
                          <td>{{ x['email'] }}</td>
                          <td>{{ x['contact_no'] }}</td>
                          <td>{{ x['gender'] }}</td>
                          <td>{{ x['dob'] }}</td>
                          <td>{{ x['address'] }}</td>
                          <td>{{ x[''] }}</td>
                          <td>{{ x['memid'] }}</td>
                          <td>{{ x['description'] }}</td>
                          <td>{{ x['duration'] }}</td>
                          <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#"> <i class="fa fa-eye" aria-hidden="true"></i>&nbsp View</button></td>
                         </tr>
                       {% endfor %}
                       </tbody>

                   </table>
                </div>

              <div class="col-md  ">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
              </div>

          </div>
        </div> <!-- end card-body-->
      </div> <!-- end card-->
    </div> <!-- end col -->
</div> <!-- end row -->

</div> <!-- end container fluid -->


{% endblock %}